<template>
  <div>
    <h1 class="mb-0">Masuk</h1>
    <h5 class="text-black">Masukkan email dan Kata sandi</h5>
    <sign-in1-form formType="jwt" username="" password=""></sign-in1-form>
  </div>
</template>

<script>
import auth0 from 'auth0-js'
import SignIn1Form from '@/components/Forms/SignIn1Form'
import constant from '@/static/assets/config/constant'

export default {
  auth:false,
  layout: 'auth',
  name: 'SignIn1',
  components: { SignIn1Form },
  data: () => ({}),
  methods: {
    login(){
      //
    }
  }
}
</script>
