<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h2 class="card-title">Evaluasi</h2>
          </template>
          <template v-slot:body>
            <div class="overflow-auto">
              <p class="mt-3 h4 text-black">
                {{ currentPage }}
                <span>. {{ pertanyaan[currentPage - 1].question }}</span>
              </p>

              <div class="text-center">
                <div
                  v-for="opsi in pertanyaan[currentPage - 1].answers"
                  :key="opsi"
                >
                  <b-form-radio-group
                    v-model="pertanyaan[currentPage - 1].itemId"
                    v-if="opsi.label"
                    class="rounded-pill mb-2 btn-block"
                    :value="opsi.value"
                    button-variant="outline-primary2"
                    buttons
                  >
                    <b-form-radio :value="opsi.value" options="opsi.label">
                      <div @click="addAnswer(opsi.value, pertanyaan[currentPage - 1].groupId, pertanyaan[currentPage - 1].itemId,pertanyaan[currentPage - 1].ordering)">
                        {{ opsi.label }}
                      </div>
                    </b-form-radio>
                  </b-form-radio-group>
                </div>
                <div class="mt-3">
                  <b-button v-on:click="submitDiklik" v-if="(answerCount) === pertanyaan.length" variant="primary">SUBMIT</b-button>
                </div>
              </div>
              <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                prev-text="Prev"
                next-text="Next"
                hide-goto-end-buttons="true"
              ></b-pagination>
            </div>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
let jawaban;
import { xray } from "@/static/assets/config/pluginInit";
import { mapGetters, mapMutations, mapActions } from "vuex";
import IqCard from "@/components/cards/iq-card";
import dataSoal from "@/FackApi/json/soal_pertanyaan.json";
export default {
  layout: "admin",
  // name: 'Dashboard2',
  components: { IqCard },
  mounted() {
    xray.index();
  },
  data() {
    return {
      answer: [],
      isActive: false,
      hasError: false,
      perPage: 1,
      currentPage: 1,
      pertanyaan: dataSoal.items,
    };
  },
  methods: {
    ...mapMutations({
      toggle: "todos/toggle",
    }),
    addAnswer(value, groupId, itemId, ordering){
      this.$store.dispatch("answers/ADD_ANSWERS", {
        value,
        groupId,
        itemId,
        ordering
      })
    },
    async submitDiklik(){
      console.log(this.$store.getters['answers/answers'])
      await alert("Jawaban Anda Terkitim")
      await this.$router.push("/evaluasi")
    }
  },
  computed: {
    rows() {
      return this.pertanyaan.length;
    },
    todos() {
      return this.$store.state.todos.list;
    },
    answerCount(){
      return this.$store.getters['answers/getAnswersCount']
    }
  },
};
</script>

<style scoped>
.btn-outline-primary2 {
  color: black;
  border-color: black;
}

.btn-outline-primary2:hover {
  color: #fff;
  background-color: #089BAB;
  border-color: black;
}

.btn-outline-primary2.focus,
.btn-outline-primary2:focus {
  box-shadow: 0 0 0 0.2rem rgba(71, 92, 199, 0.5);
}

.btn-outline-primary2:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary2.dropdown-toggle {
  color: #fff;
  background-color: #089BAB;
  border-color: #089BAB;
}
</style>