<template>
  <b-container>
    <div>
      <b-card class="iq-mb-3" header="Informasi Pribadi">
        <b-tabs content-class="mt-3" justified>
          <b-tab title="Informasi Pribadi" active>
            <b-row>
              <b-col>
                <img
                  src="https://i.postimg.cc/c4q3C0Jh/usuario-foto.png"
                  class="img-fluid rounded"
                  width="100"
                  height="100"
                  alt="user"
                />
              </b-col>
              <b-col> </b-col>
            </b-row>
            <b-form>
              <b-row>
                <b-col>
                  <b-form-group
                    id="input-name-group"
                    label="Nama :"
                    label-for="input-name"
                  >
                    <b-form-input id="input-name"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="NIP" label-for="input-NIP">
                    <b-form-input id="input-NIP"></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Jabatan :" label-for="input-jabatan">
                    <b-form-input id="input-jabatan"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Nomer HP" label-for="input-phone">
                    <b-form-input id="input-phoe"></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Email" label-for="input-email">
                    <b-form-input id="input-email"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Tanggal Lahir" label-for="input-ttl">
                    <b-form-input id="input-ttl"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-button type="submit" variant="primary">Simpan</b-button>
              <b-button type="reset" variant="danger">Batal</b-button>
            </b-form>
          </b-tab>
          <b-tab title="Ganti Kata Sandi">
            <b-form>
              <b-form-group
                id="input-old-password-group"
                label="Kata Sandi Lama"
                label-for="input-old-password"
              >
                <b-form-input id="input-old-password"></b-form-input>
              </b-form-group>
              <b-form-group label="Kata Sandi Baru " label-for="password">
                <b-form-input id="input-password"></b-form-input>
              </b-form-group>
              <b-form-group
                label="Konfirmasi Kata Sandi"
                label-for="input-c_password"
              >
                <b-form-input id="input-c_password"></b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Simpan</b-button>
              <b-button type="reset" variant="danger">Batal</b-button>
            </b-form>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </b-container>
</template>
<script>
import tabNav from "../../components/tab/tab-nav.vue";
import tabNavItems from "../../components/tab/tab-nav-items.vue";
import tabContent from "../../components/tab/tab-content.vue";
import tabContentItem from "../../components/tab/tab-nav-items.vue";
import { xray } from "@/static/assets/config/pluginInit";

export default {
  auth: true,
  layout: "admin",
  // name: "ProfileEdit",
  components: { tabNav, tabNavItems, tabContent, tabContentItem },
  mounted() {
    xray.index();
  },
  data() {
    return {
      user: {
        fname: "",
        lname: "",
        name: "",
        username: "",
        email: "",
        password: "",
        address1: "",
        address2: "",
        company_name: "",
        profile_image: require("@/static/assets/images/user/11.png"),
        mobile_no: "",
        country: "",
        state: "",
        city: "",
        pincode: "",
        role: "",
        gender: "",
        dob: "",
        url: "",
      },
      currentPassword: "",
      countries: [
        { value: "Canada", text: "Canada" },
        { value: "Niada", text: "Niada" },
        { value: "USA", text: "USA" },
        { value: "India", text: "India" },
        { value: "Africa", text: "Africa" },
      ],
      states: [
        { value: "California", text: "California" },
        { value: "Florida", text: "Florida" },
        { value: "Georgia", text: "Georgia" },
        { value: "Connecticut", text: "Connecticut" },
        { value: "Louisiana", text: "Louisiana" },
      ],
    };
  },
  methods: {
    previewImage: function (event) {
      const input = event.target;

      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = (e) => {
          this.user.profile_image = e.target.result;
        };

        reader.readAsDataURL(input.files[0]);
      }
    },
    changePassword: function () {},
  },
  methods: {
    asyncData() {},
  },
};
</script>
