<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
    <form class="mt-4" novalidate @submit.prevent="handleSubmit(onSubmit)">
      <ValidationProvider
        vid="username"
        name="username"
        rules="required|email"
        v-slot="{ errors }"
      >
        <div class="form-group">
          <label for="usernameInput">username</label>
          <input
            type="username"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="usernameInput"
            aria-describedby="emailHelp"
            v-model="user.username"
            placeholder="Enter username"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>
      </ValidationProvider>
      <ValidationProvider
        vid="password"
        name="Password"
        rules="required"
        v-slot="{ errors }"
      >
        <div class="form-group">
          <label for="passwordInput">Sandi</label>
          <router-link to="/reset-password" class="float-right">
            Lupa Password?
          </router-link>
          <input
            type="password"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="passwordInput"
            v-model="user.password"
            placeholder="Password"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>
      </ValidationProvider>
      <div class="d-inline-block w-100">
        <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
          <input type="checkbox" class="custom-control-input" :id="formType" />
          <!-- <label class="custom-control-label" :for="formType">Remember Me</label> -->
        </div>
        <button
          type="submit"
          style="background: #365466"
          class="btn float-right text-white"
        >
          Masuk
        </button>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import SocialLoginForm from "./SocialLoginForm";
import { mapGetters } from "vuex";

export default {
  name: "SignIn1Form",
  components: { SocialLoginForm },
  props: ["formType", "username", "password"],
  data: () => ({
    user: {
      username: "",
      password: "",
    },
  }),
  computed: {
    ...mapGetters({
      stateUsers: "Setting/usersState",
    }),
  },
  methods: {
    async onSubmit() {
      try {
        let response = await this.$auth.loginWith("local", { data:{
          username: this.user.username,
          password: this.user.password
        } },);
        await this.$router.push("/");
        this.$auth.setUser(response.data);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
